body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px 0;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 40px;
    margin-left: 60px;
}

p {
    font-size: 19px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.imagem-sobre {
    max-width: 100%; /* Ajusta a largura máxima para o tamanho do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaçamento extra na parte inferior da imagem */
    margin: 10px 0; /* Adiciona margem superior e inferior para espaçamento */
}
.primeira-linha {
    text-indent: 40px; /* Ajuste conforme necessário */
}